body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
    flex-direction: column;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 0;
}

.game-container {
    z-index: 10;
    background: rgba(255,255,255,0.03);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: center;
    width: 300px;
    position: relative;
}

input, button { 
    margin-top: 10px; 
    padding: 10px; 
    font-size: large;
}

button:hover{
    background-color: #000;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
}
